:root {
    --blue: #1c4484;
    --ocean: #08b4e4;
    --green: #538D34;
    --black: #000000;
    --baseyellow: #ffd700;
    --yellow: #FFDD66;
    --light-yellow: #fff6d7;
    --lightblue: #268FAC;
    --white: #ffffff;
    --orange: #FFB800;
    --gray: #cfcfcf;
}

*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.foglalas {
    height: auto;
    background: linear-gradient(var(--light-yellow), #FFDD66);
}

h1 {
    position: relative;
    top: 9vw;
    margin-top: 0;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1vw;
    border-bottom: 1px solid lightgray;
    font-size: 3.5vw;
}

/* Bal oldali képes */

.kepes {
    background-color: white;
    height: 20vw;
    width: 25vw;
    position: relative;
    top: 5.5vw;
    border: 1px solid black;
    border-radius: 1.5vw;
    box-shadow: 0 0 20px -6px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vw;
}

.kep {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 1.5vw 1.5vw 0 0;
    border-bottom: 1px solid black;
}

.cim {
    margin-top: 0;
    color: black;
}


.hotelnev, .cim {
    text-align: center;
}

.hotelnev {
    color: var(--ocean);
}

.adatok {
    font-size: 1.2vw;
}

.stars {
    color: var(--baseyellow);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10vw;
}

/* Jobb oldali adatok */
.reszletek {
    position: relative;
    top: 5.5vw;
    margin-top: 7vw;
    width: 20vw;
    height: 30vw;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 1.5vw;
    box-shadow: 0 0 20px -6px black;
}



