:root {
    --blue: #1c4484;
    --ocean: #08b4e4;
    --green: #538D34;
    --black: #000000;
    --baseyellow: #ffd700;
    --yellow: #FFDD66;
    --light-yellow: #fff6d7;
    --lightblue: #268FAC;
    --white: #ffffff;
    --orange: #FFB800;
    --gray: #cfcfcf;
}

*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.foglalas {
    height: auto;
    background: linear-gradient(var(--light-yellow), var(--yellow));
}

h1 {
    position: relative;
    top: 9vw;
    margin-top: 0;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1vw;
    border-bottom: 1px solid lightgray;
    font-size: 3.5vw;
}

/* Bal oldali képes */

.kepes {
    background-color: var(--white);
    height: 20vw;
    width: 25vw;
    position: relative;
    top: 5.5vw;
    border: 1px solid var(--black);
    border-radius: 1.5vw;
    box-shadow: 0 0 20px -6px var(--black);
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vw;
}

.kep {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 1.5vw 1.5vw 0 0;
    border-bottom: 1px solid var(--black);
}

.cim {
    margin-top: 0;
    color: var(--black);
}


.hotelnev, .cim {
    text-align: center;
}

.hotelnev {
    color: var(--ocean);
}

.adatok {
    font-size: 1.2vw;
}

.stars {
    color: var(--baseyellow);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10vw;
}

a {
    text-decoration: none;
}
/* Jobb oldali adatok */
.reszletek {
    position: relative;
    top: 5.5vw;
    margin-top: 7vw;
    width: 20vw;
    height: auto;
    background-color: var(--white);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--black);
    border-radius: 1.5vw;
    box-shadow: 0 0 20px -6px var(--black);
    font-size: 1vw;
}

.ellatas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1vw;
}

.e1 {
    font-weight: bold;
    color: var(--black);
    padding: 0.2vw;
    padding-left: 4vw;
}

.e2 {
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 0.2vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2vw;
    font-style:italic;
}

.etkezesek {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0.5vw;

}
.et1 {
    color: var(--black);
    text-align: right;
    padding-right: 1vw;
    font-weight: bold;
}

.et2 {
    color: var(--black);
    text-align: left;
    padding-left: 1vw;
}

.utazok_szama {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5vh;
    width: 60%;
    border: 1px solid var(--black);
    border-radius: 12px;
    padding: 0;
}

.utazok_szama p {
    color: var(--black);
    margin: 0;
    text-align: center;
}

.utazok_szama .nagy {
    font-size: 2vw;
    width: 70%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;
    border-top: 1px solid var(--black);
    text-align: center;
}

.utazok_szama .kicsi {
    position: relative;
    left: 0.5vw;
    top: 0.1vw;
    height: 0.4vw;
    text-align: left;
}

.utazas {
    font-size: 1vw;
}

select {
    font-size: 1vw;
    margin-top: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 5vw;
    border: 2px solid red;
}

.ut {
    color: var(--black);
    text-transform: uppercase;
    text-align: center;
}

.idopont {
    text-align: center;
    color: var(--black);
    font-size: 1vw;
    font-style: italic;
}

.reszek {
    padding-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    font-size: 1.2vw;
    padding-bottom: 1vw;
    border-bottom: 1px dashed var(--black);
}

.sz1 {
    color: var(--black);   
    margin: 0;
    padding-left: 3vw;
}

.sz2 {
    color: var(--black);
    text-align: left;
    margin: 0;
}

.osszeg {
    color: var(--black);
    text-align: right;
    font-size: 1.2vw;
    padding-right: 2vw;
    margin-top: 0.5vw;
}

/* Utasok adatai */
.utasadatok{
    padding: 2vw 10vw;
}
h3 {
    margin: 0;
    font-size: 2vw;
}
.vonal{
    width: 100%;
    margin: 0;
    color: var(--black);

}
.utas{
    padding: 0 10vw;
    position: relative;
}
.utasszam{
    color: var(--black);
    font-size: 1.5vw;
    margin-bottom: 0.3vw;
}
.utasdata{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: right;
    width: 55vw;
    margin:3vw auto 0 auto;

}
.utasdata label{
    padding-right: 1vw;
    font-size: 1.5vw;
    margin-bottom: 1vw;
}
.utasdata input{
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    border: 1px solid var(--black);
    width: 100%;
    height: 2vw;
    font-size: 1.2vw;
}
.utasdata select{
    margin-bottom: 1vw;
    margin-top: 0;
    border-radius: 0.5vw;
    border: 1px solid var(--black);
    width: 100%;
    height: 2vw;
    font-size: 1.2vw;
}
.fizetes{
    background-color: var(--orange);
    border:none;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.2vw;
    font-weight: 600;
    width: 12vw;
    color: var(--white);
    padding: 0.4vw 0;
    border-radius: 1vw;
    cursor: pointer;
}
@media screen and (max-width: 1000px){
    h1 {
        font-size: 5vw;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 10vw;
    }
/* Bal oldali adatok */
    .kepes {
        height: 30vw;
        width: 40vw;
    }
    .kep {
        width: 100%;
        height: 50%;
    }
    
    .hotelnev {
        font-size: 3vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
    }
    .cim {

        color: var(--black);
        font-size: 2.4vw;
    }

    /* Jobb oldali adatok */
    .reszletek {
        width: 40vw;
        height: auto;
    }
    
    .ellatas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 1vw;
    }
    
    .e1 {
        font-size: 2.5vw;
        text-align: right;
        padding-right: 1vw;
    }
    
    .e2 {
        font-size: 2.2vw;
        width: 88%;
        margin-left: 1vw;
        text-align: left;
        
    }
    
    .etkezesek {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 0.5vw;
    
    }
    .et1 {
        font-size: 2.5vw;
    }
    
    .et2 {
        font-size: 2.5vw;
    }
    
    .utazok_szama {
        width: 80%;
    }
    
    .utazok_szama .nagy {
        font-size: 3vw;
        width: 90%;
        margin-top: 2vw;
    }
    
    .utazok_szama .kicsi {
        height: 0.5vw;
        font-size: 2.4vw;
    }
    
    .utazas {
        font-size: 2vw;
    }
    
    select {
        font-size: 2.8vw;
        width: 13vw;
    }

    .idopont {

        font-size: 2vw;

    }
    
    .reszek {
        font-size: 2.3vw;
    }

    
    .osszeg {
        font-size: 2.3vw;
        padding-right: 5vw;
    }
    
    /* Utasok adatai */
    .utasadatok{
        padding: 2vw 4vw;
    }
    h3 {
        margin: 0;
        font-size: 4vw;
    }
    .vonal{
        width: 100%;
        margin: 0;
        color: var(--black);
    
    }
    .utas{
        padding: 0 2vw;
    }
    .utasszam{

        font-size: 3vw;

    }
    .utasdata{
        display: grid;
        grid-template-columns: 2fr 3fr 2fr 3fr;
        width: 86vw;
        margin:1vw auto 0 auto;
    
    }
    .utasdata label{
        padding-right: 1vw;
        font-size: 2.1vw;
    }
    .utasdata input{

        height: 2.5vw;
        font-size: 2.5vw;
    }
    .utasdata select{

        height: 3.3vw;
        font-size: 2.5vw;
    }
    .fizetes{
        margin-top: 3vw;
        font-size: 3vw;
        width: 30vw;

    }
}
@media screen and (max-width: 700px){
    .foglalas{
        padding-top: 6vw;
    }
    h1 {
        font-size: 6vw;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 10vw;
    }
/* Bal oldali adatok */
    .kepes {
        height: 50vw;
        width: 70vw;
    }
    .kep {
        width: 100%;
        height: 60%;
    }
    
    .hotelnev {
        font-size: 4.5vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
    }
    .cim {
        color: var(--black);
        font-size: 3.5vw;
    }

    /* Jobb oldali adatok */
    .reszletek {
        width: 70vw;
        height: auto;
    }
    
    .ellatas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 1vw;
    }
    
    .e1 {
        font-size: 4vw;
        text-align: right;
        padding-right: 1vw;
    }
    
    .e2 {
        font-size: 3.7vw;
        width: 88%;
        margin-left: 1vw;
        text-align: left;
        
    }
    
    .etkezesek {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 0.5vw;
    
    }
    .et1 {
        font-size: 4vw;
    }
    
    .et2 {
        font-size: 4vw;
    }
    
    .utazok_szama {
        width: 80%;
    }
    
    .utazok_szama .nagy {
        font-size: 4vw;
        width: 90%;
        margin-top: 3vw;
    }
    
    .utazok_szama .kicsi {
        height: 0.5vw;
        font-size: 3.5vw;
        left: 2vw;
    }
    
    .utazas {
        font-size: 4vw;
    }
    
    select {
        font-size: 4vw;
        width: 21vw;
    }

    .idopont {
        font-size: 4vw;
    }
    
    .reszek {
        font-size: 3.7vw;
    }

    
    .osszeg {
        font-size: 3.7vw;
        padding-right: 10vw;
    }
    
    /* Utasok adatai */
    .utasadatok{
        padding: 2vw 4vw;
    }
    h3 {
        margin: 0;
        font-size: 5vw;
    }
    .vonal{
        width: 100%;
        margin: 0;
        color: var(--black);
    
    }
    .utas{
        padding: 0;
    }
    .utasszam{

        font-size: 4vw;

    }
    .utasdata{
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 90vw;
        margin:1vw auto 0 auto;
    
    }
    .utasdata label{
        padding-right: 1vw;
        font-size: 3vw;
    }
    .utasdata input{

        height: 4vw;
        font-size: 3vw;
    }
    .utasdata select{
        height: 5vw;
        font-size: 2.5vw;
    }
    .fizetes{
        margin-top: 3vw;
        font-size: 4.5vw;
        width: 45vw;

    }
}