:root {
    --blue: #1c4484;
    --ocean: #08b4e4;
    --green: #45ac0d;
    --green-pastel: #538D34;
    --black: #000000;
    --baseyellow: #ffd700;
    --yellow: #FFDD66;
    --light-yellow: #fff6d7;
    --lightblue: #268FAC;
    --white: #ffffff;
    --orange: #FFB800;
    --gray: #cfcfcf;
  }
*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
.kosarmain{
    padding-top: 1px;
}
.kosar{
    margin-top: 5.5vw;
    height: auto;
    min-height: 80vh;
    background: linear-gradient(var(--light-yellow), var(--yellow));
    padding: 5vw 5vw;
    height: auto;
}
.kosarcim{
  text-align: center;
  font-size: 3vw;
  color: var(--black);
  margin-top: 0;
  font-weight: 600;
}
.vonal{
    width: 100%;
    margin: 0;
    color: var(--black);

}

.utazasok{
    margin-bottom: 3vw;
}
.kiscim{
  color: var(--black);
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
    padding-left: 2vw;
    font-weight: 500;
}
.tervezesegyeni{
    margin-left: 10vw;
    width: 70%;
    position: relative;
    height: 6vw;
    background-color: var(--white);
    border-radius: 1.5vw;
    margin-top: 1vw;
}
.tervezesegyeni img{
    height: 6vw;
    width: 30%;
    object-fit: cover;
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
    float:left;

}
.hotelnev{
    color: var(--ocean);
    display: inline;
    float: left;
    font-size: 1.2vw;
    font-weight: 500;
    padding-left: 3vw;
}
.stars{
    color: var(--baseyellow);
    display:inline;
    left: 40%;
    top: 10%;
    float:left;
    padding-left: 2vw;
    padding-top: 0.3vw;
    font-size: 0.9vw;
}
.hotelcim{
position: absolute;
left: 32%;
top: 35%;
font-size: 1.2vw;
color: var(--black);
}
.fok{
    position:absolute;
    top: 7%;
    right: 20%;
    font-size: 1.6vw;
}
.newbutton {
    position: absolute;
    right: 2%;
    top: 22%;
    width:3vw;
    height:3vw;

    background:url(../img/nyil.svg) no-repeat 0 0;
    background-size: cover;
    color:var(--black);
    border:none;
    padding:0;
    cursor:pointer;

}
.torlesbutton{
    position: absolute;
    right: -8%;
    top: 22%;
    width:3vw;
    height:3vw;

    background:url(../img/trash.svg) no-repeat 0 0;
    background-size: cover;
    color:var(--black);
    border:none;
    padding:0; 
    cursor:pointer;
}
@media screen and (max-width: 1000px){
    .kosarcim{  
        font-size: 5vw;
        margin-bottom: 1vw;
      }
      .kiscim{
          font-size: 3vw;
      }
      .tervezesegyeni{
          margin-left: 5vw;
          width: 80%;
          height: 10vw;
      }
      .tervezesegyeni img{
          height: 10vw;
          width: 30%;
      
      }
      .hotelnev{
          font-size: 3vw;
          padding-left: 2vw;
          margin-top: 1vw;
      }
      .stars{
            margin-top: 1.2vw;
          padding-left: 2vw;
          padding-top: 0;
          font-size: 2.3vw;
      }
      .hotelcim{
        left: 32.7%;
        top: 35%;
        font-size: 2vw;
      }
      .fok{
          top: 7%;
          right: 12%;
          font-size: 2.5vw;
      }
      .newbutton {
            right: 1%;
          top: 21%;
          width:6vw;
          height:6vw;
      
      }
      .torlesbutton{
          right: -12%;
          top: 22%;
          width:6vw;
          height:6vw;
      }
}
@media screen and (max-width: 700px){
    .kosar{
        margin-top: 9vw;
    }
    .kosarcim{  
        font-size: 7vw;
        margin-bottom: 1vw;
      }
      .kiscim{
          font-size: 4.5vw;
      }
      .tervezesegyeni{
          margin-left: 2vw;
          width: 88%;
          height: 20vw;
      }
      .tervezesegyeni img{
          height: 20vw;
          width: 15%;
      
      }
      .hotelnev{
          font-size: 4.5vw;
          padding-left: 1vw;
          margin-top: 2vw;
      }
      .stars{
            margin-top: 2vw;
          padding-left: 2vw;
          padding-top: 0;
          font-size: 3.5vw;
      }
      .hotelcim{
        left: 17%;
        top: 35%;
        font-size: 2.6vw;
      }
      .fok{
          top: 15%;
          right: 16%;
          font-size: 4.5vw;
      }
      .newbutton {
            right: 1%;
          top: 28%;
          width:9vw;
          height:9vw;
      
      }
      .torlesbutton{
          right: -14%;
          top: 28%;
          width:9vw;
          height:9vw;
      }
}