:root {
  --blue: #1c4484;
  --ocean: #08b4e4;
  --green: #538D34;
  --black: #000000;
  --baseyellow: #ffd700;
  --yellow: #FFDD66;
  --light-yellow: #fff6d7;
  --lightblue: #268FAC;
  --white: #ffffff;
  --orange: #FFB800;
  --gray: #cfcfcf;
}
*{
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.main{
    padding-top: 1px;
}
.valaszto{
    height: 10vw;
    margin-top: 5.1vw;
    padding: 1vw 25vw 0 25vw;

    background-color: var(--blue);
}
.utazna{
    text-align: left;
    color:var(--baseyellow);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 2vw;
    margin-top: 0px;
    margin-bottom: 0.5vw;
}
.tervezesform{
    background-color: var(--gray);
    border-radius: 10px;
    padding: 0.5vw;
    padding-right: 0;
    position: relative;
    display: grid;
    grid-template-columns: 5fr 5fr 1fr;
    width: 38vw;
}
.helyinput{
    border:none;
    height:2.8vw;
    border-radius: 10px;
    width: 16.5vw;
    margin-right: 0.5vw;
    font-size: 1.3vw;

}
.indulaslabel{
    position: absolute;
    left: 1.2vw;
    top: 0.5vw;  
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 0.7vw;

}
.celpontlabel{
    position: absolute;
    left: 18.7vw;
    top: 0.5vw;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 0.7vw;

}
input.newbutton {
    display: inline-block;
    width:3vw;
    height:3vw;

    background:url(../img/nyil.svg) no-repeat 0 0;
    color:var(--black);
    border:none;
    padding:0;
    cursor: pointer;
    clear:both;
}
.ajanlatok{
    margin-top: 0px;
    height: auto;
    background-image: url('../img/background-design.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid var(--black);
}
.ajanlatokkozep{
    padding:2% 20%;

}

.kiemelt{
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 2vw;

}


.slideshow-container {
  max-width: 30vw;
  position: relative;
  margin: auto;
  height: auto;

}


.mySlides {
  display: none;
  border-radius: 5px;
  cursor: pointer;
}
.sliderimg{
    width:100%;
    height:12vw;
    object-fit: cover;
    padding: 0px;
    border-radius: 5px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0.5vw 1vw;
    margin-top: -22px;
    color: var(--black);
    font-weight: bold;
    font-size: 2vw;
    transition: 0.6s ease;
    border-radius: 100px;
    user-select: none;
  }
  

  .next {
    right: -3.5vw;

  }
  .prev{
    left: -3.5vw;

  }
  

  .prev:hover, .next:hover {
    background-color: rgba(83, 83, 83, 0.8);
  }
  
  .text {
    background-color: var(--white);
    padding: 8px 0 0 0;
    position: relative;
    bottom: 8px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .sliderfocim{
    margin: 0;
    padding: 0 1vw;
    font-size: 1.4vw;
    color: var(--blue);
    font-weight: 500;
  }
  .sliderhotelnev{
    font-size: 1.2vw;
    padding: 0 1vw;
    margin: 3px 0;
    color: var(--ocean);
    display: inline;
    float: left;
  }
  .stars{
    margin: 0.5vh 0;
   
    font-size: 1vw;
  }
  .sliderrepter{
    margin: 0;
    font-size: 1vw;
    padding: 7% 0 0 1vw;
    color: var(--black);
    font-weight: 700;
  }
  .sliderdatum{
    padding: 3% 1.5vw;
    color: rgb(63, 63, 63);
    font-style: italic;
    margin: 0px;
    font-size: 0.95vw;
  }
  .sliderar{
    position: absolute;
    right: 10px;
    bottom:3%;
    color: var(--black);
    font-weight: 700;
    font-size: 0.95vw;
  }

  .numbertext {
    color: var(--white);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    cursor: pointer;
    height: 0.7vw;
    width: 0.7vw;
    margin: 0 2px;
    background-color: var(--gray);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dotcontainer{
    text-align:center; 
    margin-top: 0.5vw;

  }
  .active, .dot:hover {
    background-color: #717171;
  }
  

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  .promo{
    height: auto;
    background: linear-gradient(hsl(48, 100%, 96%), var(--baseyellow));
    padding: 70px 150px;
  }
  .szovegek{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .kisszoveg{
    padding: 0 1vw;
    text-align: justify;
  }
  .vonal{
    border-right: 1px solid var(--ocean);
    
  }
  .kisszovegcim{
    color: var(--ocean);
    font-size: 1.25vw;
  }
  .kisszoveghosszan{
    color: var(--blue);
    text-align: left;
    font-size: 1vw;
  }
  .stats{
    display: grid;
    grid-template-columns: 6fr 5fr;
  }
  .statbal{
    padding: 5% 0;

    text-align: center;
    float: left;
  }
  .nagyp{
    font-size: 3vw;
    color:var(--black);
    margin: 4px;
    font-weight: 800;
  }
  .ugyfelcount{
    color: var(--ocean);
    font-size: 6vw;
    margin:4px;
    font-weight: 800;
  }
  .kisp{
    color:var(--black);
    font-size: 1.5vw;
  }
  .statjobb{
    padding: 5% 0;
    float:left;

    text-align: center;
  }



  .search {
    position: absolute;
    left: 17.6vw;
    top: 2vw;
    z-index: 100;
    padding: 0;
    width: 14.8vw;
    border-radius: 3vw;
  }

  .search li {
    border: 1px solid var(--black);
    width: 100%;  
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: white;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 0.3vw;
    height: auto;
  }

  .search li:hover {
    background-color: var(--light-yellow);
  }
  @media screen and (max-width: 1000px){
    .utazna{
      font-size: 3vw;
      padding-left: 9vw;
    }
      .tervezesform{
        grid-template-columns: 1fr;
        width: 30vw;
        height: 20vw;
        margin:auto;
        
      }
      .indulaslabel{
        top: 1.7vw;
        font-size: 1vw;
      }
      .celpontlabel{
        top: 9.6vw;
        font-size: 1vw;
        left: 1.2vw;
      }
      .helyinput{
        width:95%;
        height: 5vw;
        margin: 1vw 0;
        font-size: 2.2vw;
      }
      .valaszto{
        height: auto;
        padding-bottom: 1vw;
      }
      input.newbutton{
        margin:auto;
        height: 5vw;
        width: 5vw;
      }
      
      .slideshow-container{
        max-width: 40vw;
        height: auto;
      }
      .sliderimg{
        height: 18vw;
      }
      .ajanlatokkozep{
        height: auto;
      }
      .text{
        height: auto;
      }
      .sliderfocim{
        font-size: 2vw;
      }
      .sliderhotelnev{
        font-size: 1.8vw;

      }
      .stars{
        font-size: 1.6vw;
      }
      .sliderrepter{
        font-size: 1.6vw;
        
      }
      .sliderdatum{
        
        font-size: 1.5vw;
      }
      .sliderar{
        
        font-size: 1.6vw;
      }
      .szovegek{
        grid-template-columns: 1fr;
      }
      .kisszovegcim{
        font-size: 2vw;
      }
      .kisszoveghosszan{
        font-size: 1.7vw;
      }
      .vonal{
        border: none;
      }
      .stats{
        grid-template-columns: 1fr;
      }
      .nagyp{
        font-size: 4vw;
      }
      .ugyfelcount{
        font-size: 8vw;
      }
      .kisp{
        font-size: 3vw;
      }
  }
  @media screen and (max-width: 700px){
    .utazna{
      font-size: 5vw;
      padding-left: 0;
    }
    .tervezesform{
      grid-template-columns: 1fr;
      width: 80vw;
      height: 42vw;
      
    }
    .indulaslabel{
      top: 2.5vw;
      font-size: 2.5vw;
    }
    .celpontlabel{
      top: 17vw;
      font-size: 2.5vw;
      left: 1.2vw;
    }
    .helyinput{
      width:98%;
      height: 12vw;
      margin: 1vw 0;
      font-size: 4vw;
    }
    .valaszto{
      height: auto;
      padding: 20px 10vw 3vw 10vw;

    }
    input.newbutton{
      margin:auto;
      height: 12vw;
      width: 12vw;
    }
    
    .slideshow-container{
      max-width: 40vw;
      height: auto;
    }
    .sliderimg{
      height: 18vw;
    }
    .ajanlatokkozep{
      height: auto;
    }
    .text{
      height: auto;
    }
    .sliderfocim{
      font-size: 2vw;
    }
    .sliderhotelnev{
      font-size: 1.8vw;

    }
    .stars{
      font-size: 1.6vw;
    }
    .sliderrepter{
      font-size: 1.6vw;
      
    }
    .sliderdatum{
      
      font-size: 1.5vw;
    }
    .sliderar{
      
      font-size: 1.6vw;
    }
    .szovegek{
      grid-template-columns: 1fr;
    }
    .promo{
      padding: 5vw 5vw;
    }
    .kisszovegcim{
      font-size: 4vw;
    }
    .kisszoveghosszan{
      font-size: 3vw;
    }
    .vonal{
      border: none;
    }
    .stats{
      grid-template-columns: 1fr;
    }
    .nagyp{
      font-size: 7vw;
    }
    .ugyfelcount{
      font-size: 13vw;
    }
    .kisp{
      font-size: 7vw;
    }
}