:root {
  --blue: #1c4484;
  --ocean: #08b4e4;
  --green: #45ac0d;
  --black: #000000;
  --baseyellow: #ffd700;
  --yellow: #FFDD66;
  --light-yellow: #fff6d7;
  --lightblue: #268FAC;
  --white: #ffffff;
  --orange: #FFB800;
  --gray: #cfcfcf;
}
*{
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.main{
    padding-top: 1px;
}
.valaszto{
    height: 200px;
    margin-top: 106px;
    padding: 20px 30% 0 30%;

    background-color: var(--blue);
}
.utazna{
    text-align: left;
    color:var(--baseyellow);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.tervezesform{
    background-color: var(--gray);
    border-radius: 10px;
    padding: 10px;
    position: relative;
}
.helyinput{
    border:none;
    height: 50px;
    border-radius: 10px;
    width: 42%;
    float:left;
    margin-right: 10px;
    font-size: 24px;

}
.indulaslabel{
    position: absolute;
    left: 1vw;
    font-family: "Roboto", sans-serif;
    font-style: normal;

}
.celpontlabel{
    position: absolute;
    left: 18.6vw;
    font-family: "Roboto", sans-serif;
    font-style: normal;

}
input.newbutton {
    display: inline-block;
    width:50px;
    height:50px;

    background:url(../img/nyil.svg) no-repeat 0 0;
    color:var(--black);
    border:none;
    padding:0;

    clear:both;
}
.ajanlatok{
    margin-top: 0px;
    height: 40vw;
    background-image: url('../img/background-design.png');
    border-bottom: 1px solid var(--black);
}
.ajanlatokkozep{
    padding:2% 20%;
}

.kiemelt{
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 2vw;

}


.slideshow-container {
  max-width: 30vw;
  position: relative;
  margin: auto;


}

/* Hide the images by default */
.mySlides {
  display: none;
  border-radius: 5px;
}
.sliderimg{
    width:100%;
    height:12vw;
    object-fit: cover;
    padding: 0px;
    border-radius: 5px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px 15px;
    margin-top: -22px;
    color: var(--black);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 100px;
    user-select: none;
  }
  

  .next {
    right: -45px;

  }
  .prev{
    left: -45px;

  }
  

  .prev:hover, .next:hover {
    background-color: rgba(83, 83, 83, 0.8);
  }
  
  .text {
    background-color: var(--white);
    padding: 8px 0 0 0;
    position: relative;
    bottom: 8px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .sliderfocim{
    margin: 0;
    padding: 0 10px;
    font-size: 1.4vw;
    color: var(--blue);
    font-weight: 500;
  }
  .sliderhotelnev{
    font-size: 1.2vw;
    padding: 0 10px;
    margin: 3px 0;
    color: var(--ocean);
    display: inline;
    float: left;
  }
  .stars{
    margin: 0.5vh 0;
   
    font-size: 1vw;
  }
  .sliderrepter{
    margin: 0;
    font-size: 1vw;
    padding: 10% 0 0 20px;
    color: var(--black);
    font-weight: 700;
  }
  .sliderdatum{
    padding: 3% 20px;
    color: rgb(63, 63, 63);
    font-style: italic;
    margin: 0px;
    font-size: 0.95vw;
  }
  .sliderar{
    position: absolute;
    right: 10px;
    bottom:3%;
    color: var(--black);
    font-weight: 700;
    font-size: 0.95vw;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: var(--white);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--gray);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dotcontainer{
    text-align:center; 
    margin-top: -1vw;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  .promo{
    height: 900px;
    background: linear-gradient(hsl(48, 100%, 96%), var(--baseyellow));
    padding: 70px 150px;
  }
  .kisszoveg{
    padding: 40px;
    float: left;
    width: 27%;
    text-align: justify;
  }
  .vonal{
    border-right: 1px solid var(--ocean);
    
  }
  .kisszovegcim{
    color: var(--ocean);
    font-size: 1.25vw;
  }
  .kisszoveghosszan{
    color: var(--blue);
    text-align: left;
    font-size: 1vw;
  }
  .statbal{
    padding: 5% 0;
    clear: both;
    width: 40.5vw;
    text-align: center;
    float: left;
  }
  .nagyp{
    font-size: 3vw;
    color:var(--black);
    margin: 4px;
    font-weight: 800;
  }
  .ugyfelcount{
    color: var(--ocean);
    font-size: 6vw;
    margin:4px;
    font-weight: 800;
  }
  .kisp{
    color:var(--black);
    font-size: 1.5vw;
  }
  .statjobb{
    padding: 5% 0;
    float:left;
    width: 41vw;
    text-align: center;
  }

  @media screen and (max-width: 1288px){
    

  }