:root {
    --blue: #1c4484;
    --ocean: #08b4e4;
    --green: #45ac0d;
    --black: #000000;
    --baseyellow: #ffd700;
    --yellow: #FFDD66;
    --light-yellow: #fff6d7;
    --lightblue: #268FAC;
    --white: #ffffff;
    --orange: #FFB800;
    --gray: #cfcfcf;
  }

.navbarimg{
    width:4vw;
    padding: 0.6vw 0 0 0.6vw;
}
.pnav{
    display: inline-block;
    font-size: 3vw;
    margin: 0 10px;
    position: absolute;
    top: 1vw;
    color: var(--baseyellow);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.topnav{
  margin: 0;
  width: 100%;
  height: 5.5vw;
  background-color: var(--blue);
  position:fixed;
  z-index: 10000;
  list-style-type: none;
  top: 0;

}
.topnav a{
  margin-top: 1.5vw;
}
.jobb{
  float:right;
  margin-left: 10vw;
}
.left{
  margin-top: 0 !important;
}
.topnav a{
    display: inline-block;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7vw;
    padding: 0 1vw;
    color: var(--baseyellow);
}
.topnav .icon {
  display: none;
  font-size: 2.5vw;
}
#elso{
    border-right: 2px solid var(--baseyellow);
}
#fordit{
    transform: rotateY(180deg);
}
i{
    font-size: 120%;
}
@media screen and (max-width: 700px) {
  .topnav{
    height: 10vw;
  }
  .navbarimg{
    width:8vw;
    
  }
.pnav{
    font-size: 5vw;
    position: absolute;
    top: 2vw;
}
  .topnav .jobb a{
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    font-size: 5vw;
    margin-right: 2vw;
    margin-top: 2vw;
  }
  .topnav .navbarimg{
    padding:1vw 0 0 0!important;
}
  
}

@media screen and (max-width: 700px) {
  .topnav.responsive {
    position: fixed;
  
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 2vw;
    top: -9.3vw;
    padding: 0 1vw;
    font-size: 5vw;
  }
  .topnav.responsive .navbarimg{
    padding:0!important;
}
  .topnav.responsive a {
    float: none;
    display: block;
    font-size: 5vw;
    margin:0;
    padding: 1vw 1vw;
    background-color: var(--blue);

  }
  #elso{
    border: none;
  }
  .topnav.responsive .jobb{
    float:left;
    text-align: center;
    width: 100%;
    margin:0;
    position: fixed;
  }
  
}
