:root {
    --blue: #1c4484;
    --ocean: #08b4e4;
    --green: #45ac0d;
    --green-pastel: #538D34;
    --black: #000000;
    --baseyellow: #ffd700;
    --yellow: #FFDD66;
    --light-yellow: #fff6d7;
    --lightblue: #268FAC;
    --white: #ffffff;
    --orange: #FFB800;
    --gray: #cfcfcf;
  }
*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
.profilmain{
    padding-top: 1px;
}
.profil{
    margin-top: 5.5vw;
    height: auto;
    background: linear-gradient(var(--light-yellow), var(--yellow));
    padding: 5vw 5vw;
}
.emailcim{
    color: var(--black);
    font-size: 2vw;
    font-weight: 600;
    padding-left: 10vw;
}
.kiscim{
    color: var(--black);
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
    padding-left: 2vw;
    font-weight: 500;
}
.vonal{
    width: 100%;
    margin: 0;
    color: var(--black);

}
.jelszovaltoztato{
    width: 80%;
    padding: 2vw 10%;
    position: relative;
    height: 6vw;

}
.textinput{
    font-size: 2vw;
    height: 2vw;
    border-radius: 0.7vw;
    margin-bottom: 1vw;
}
.jelszavak{
    position:absolute;
    left: 20%;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.jelszavak label{
    font-size: 2vw;
}
.jelszobtn{
    position:absolute;
    right: 10%;
    background-color: var(--orange);
    border: none;
    font-size: 1.5vw;
    width: 11vw;
    border-radius: 1vw;
    color: var(--white);
    padding: 0.8vw 1.6vw;
    cursor: pointer;
}
.utazasok{
    margin-bottom: 3vw;
}
.tervezesegyeni{
    margin-left: 10vw;
    width: 60%;
    position: relative;
    height: 6vw;
    background-color: var(--white);
    border-radius: 1.5vw;
    margin-top: 1vw;
}
.tervezesegyeni img{
    height: 6vw;
    width: 30%;
    object-fit: cover;
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
    float:left;

}
.hotelnev{
    color: var(--ocean);
    display: inline;
    float: left;
    font-size: 1.2vw;
    font-weight: 500;
    padding-left: 3vw;
}
.stars{
    color: var(--baseyellow);
    display:inline;
    left: 40%;
    top: 10%;
    float:left;
    padding-left: 2vw;
    padding-top: 0.3vw;
    font-size: 0.9vw;
}
.hotelcim{
position: absolute;
left: 32%;
top: 35%;
font-size: 1.2vw;
color: var(--black);
}
.fok{
    position:absolute;
    top: 7%;
    right: 20%;
    font-size: 1.6vw;
}
.newbutton {
    position: absolute;
    right: 2%;
    top: 22%;
    width:3vw;
    height:3vw;

    background:url(../img/nyille.svg) no-repeat 0 0;
    background-size: cover;
    color:var(--black);
    border:none;
    padding:0;
    cursor:pointer;

}
.modositasbutton {
    position: absolute;
    right: -10%;
    top: 22%;
    width:3vw;
    height:3vw;

    background:url(../img/modositas.svg) no-repeat 0 0;
    background-size: cover;
    color:var(--black);
    border:none;
    padding:0;
    cursor:pointer;

}
.torlesbutton{
    position: absolute;
    right: -20%;
    top: 22%;
    width:3vw;
    height:3vw;

    background:url(../img/trash.svg) no-repeat 0 0;
    background-size: cover;
    color:var(--black);
    border:none;
    padding:0; 
    cursor:pointer;
}
.inaktiv{
    filter: grayscale(1);    
    background-color: var(--gray);
    opacity: 0.5;
}
.inaktiv .newbutton{
    cursor:default;
}
.inaktiv .modositasbutton{
    display:none;
}
.inaktiv .torlesbutton{
    display:none;
}
.inaktiv::after{
    content: "Nem aktív";
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    left: 30%;
    top: 7%;
    font-size: 4vw;
    opacity: initial;
}
.profiladatok{
    position: relative;
}
.adatok{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: right;
    width: 70vw;
    margin:3vw auto 0 auto;

}
.adatok label{
    padding-right: 2vw;
    font-size: 1.5vw;
    margin-bottom: 1vw;
}
.adatok input{
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    border: 1px solid var(--black);
    width: 15vw;
    height: 2vw;
}
.adatmodositas{
    position: absolute;
    right: 11.5vw;
    bottom: 0vw;
    background-color: var(--orange);
    border: none;
    padding: 0.5vw 1vw;
    font-size: 1.3vw;
    border-radius: 0.6vw;
    cursor: pointer;
    color: var(--white);
}