:root {
    --blue: #1c4484;
    --ocean: #08b4e4;
    --green: #45ac0d;
    --black: #000000;
    --baseyellow: #ffd700;
    --yellow: #FFDD66;
    --light-yellow: #fff6d7;
    --lightblue: #268FAC;
    --white: #ffffff;
    --orange: #FFB800;
    --gray: #cfcfcf;
  }
*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
  .reszletekmain{
      padding-top: 1px;
  }
  .reszletek{
    margin-top: 106px;
    height: 2000px;
    background: linear-gradient(hsl(48, 100%, 96%), var(--yellow));

  }
  .reszletektop{
    position: relative;
    text-align: center;
    vertical-align: middle;

  }
  .reszleteknagykep{
    width: 100%;
    height: 44vw;
    filter: blur(5px);
    object-fit: cover;
  }
  .reszletektoptext{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    padding-top: 5%;
  }
  .reszletekhotelnev{
    text-transform: uppercase;
    color: var(--white);
    font-size: 5vw;
    font-weight: 800;
    margin-bottom: 0;
  }
  .stars{
    margin-top: 0;
    color: var(--baseyellow);
    margin-bottom: 2%;
    font-size: 5vw;
  }
  .reszletekdatum{
    color: var(--white);
    font-size: 3vw;
    font-weight: 700;
  }


.mySlides {display: none}



.slideshow-container {

  max-width: 70vw;
  position: relative;
  margin: auto;
  margin-top: 50px;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 10vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    text-shadow: 7px 5px 7px rgba(0,0,0,0.6);
}
.sliderimg{
    width:100%;
    height:30vw;
    object-fit: cover;
    padding: 0px;
    border-radius: 5px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}
#reszletekvonal{
    margin-top: 30px;
    width:71%;
    border-top: 1px solid var(--black);
  }