:root {
    --blue: #1c4484;
    --ocean: #08b4e4;
    --green: #45ac0d;
    --green-pastel: #538D34;
    --black: #000000;
    --baseyellow: #ffd700;
    --yellow: #FFDD66;
    --light-yellow: #fff6d7;
    --lightblue: #268FAC;
    --white: #ffffff;
    --orange: #FFB800;
    --gray: #cfcfcf;
  }
*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
.tervezesmain{
    padding-top: 1px;
}
.tervezes{
    margin-top: 106px;
    height: 2000px;
    background: linear-gradient(var(--light-yellow), #FFDD66);
}
.tervezesform{
    background-color: var(--white);
    border-radius: 10px;

    position: relative;
}
.helyinput{
    border:none;
    height: 50px;
    border-radius: 10px;
    width: 42%;
    float:left;
    margin-right: 10px;
    font-size: 24px;

}
.indulaslabel{
    position: absolute;
    left: 1vw;
    font-family: "Roboto", sans-serif;
    font-style: normal;

}
.celpontlabel{
    position: absolute;
    left: 18.6vw;
    font-family: "Roboto", sans-serif;
    font-style: normal;

}
.reportrange input {
    padding: 10px;
    border-radius: 0 !important;
} 
.inline{
    max-width:400px;
    margin:auto;
}
.input-icons i {
    position: absolute;
    
}
    
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
    
.icon {
    padding: 10px;
    min-width: 40px;
}
.formtop{
    display: grid;
    grid-template-columns: 6fr 1fr;
    background-color: var(--ocean);
}
.tervezescim{
    margin: 0;
    color: var(--white);
}
.ikon{
    width: 2vw;
    margin-bottom: -3px;
    margin-right: 10px;

  } 
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
}
.search-container{
    display: flex;
}
.prev, .next{
    margin-right: -8px;
    margin-left: -18px;
}
.applyBtn{
    background-color: var(--lightblue);
    color: var(--white);
    border: none;
    cursor: pointer;
}
.cancelBtn{
    background-color: #d35e5e;
    color: var(--white);
    border: none;
    cursor: pointer;
}