:root {
  --blue: #1c4484;
  --ocean: #08b4e4;
  --green: #538D34; /* ????? */
  --black: #000000;
  --baseyellow: #ffd700;
  --yellow: #FFDD66;
  --light-yellow: #fff6d7;
  --lightblue: #268FAC;
  --white: #ffffff;
  --orange: #FFB800;
  --gray: #cfcfcf;
  --red: #ac4e26;
}
*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
  .utazasokmain{
      padding-top: 1px;
      background: linear-gradient(hsl(48, 100%, 96%), var(--yellow));
      padding-bottom: 30vh;
  }
  .utazasok{
    margin-top: 106px;
    height: auto;
    padding: 20px 0;
  }
  .utazasokfocim{
    text-align: center;
    font-size: 3.5vw;
    font-weight: 700;
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #utazasokvonal{
    width:80%;
    border-top: 1px solid var(--lightgray);
  }
  .utazaskontener{
    width:100%;
    height: 40vw;
    margin-top: 50px;
    margin-bottom: 30vh;
    position: relative;
  }
  
  .utazaskontener img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60vw; 
    height: auto; 
    max-height: 650px; 
    object-fit: cover; /*crop image*/
    z-index: 2;
}

  .utazasokdetails{
    position: absolute;
    right:0;
    bottom: 0;
    width: 60%;
    height: 30vw;
    z-index: 1;
  }
  #a1{
    background-color: var(--lightblue);
  }

  #a2 {
    background-color: var(--red);
  }

  #a3 {
    background-color: var(--green-pastel);
  }

  .utazasokajanlattext {

    color: var(--white);
    padding: 0 0 0 40%;


    width: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .utazasokajanlatfocim{
    font-size: 3vw;
    margin-bottom: 10px;
    color: var(--white);
    font-weight: 700;
  }
  .utazasokajalnatszoveg{
 
    font-size: 1.3vw;
    color: var(--white);
    font-weight: 500;
  }
  .utazasokajalnathotelnev{
    font-size: 1.2vw;

    margin: 3px 0;
    color: var(--light-yellow);
    display: inline;
    float: left;
  }
  .stars{
    margin: 0.5vh 0;
   
    font-size: 1vw;
  }
  .utazasokajalnatrepter{
    margin: 0;
    font-size: 1vw;

    color: var(--orange);
    font-weight: 700;
  }
  .utazasokajalnatdatum{
    padding: 3% 0;
    color: var(--white);
    font-style: italic;
    margin: 0px;
    font-size: 1vw;
  }
  .utazasokajalnatar{
    position: absolute;
    right: 30px;
    top:17vw;
    font-size: 1.5vw;
    color: var(--baseyellow);
    font-weight: 400;
  }
  .utazasokmegnezem{
    background-color: transparent;
    color: var(--orange);
    font-size: 1vw;
    font-weight: 600;
    border: 1px solid var(--orange);
    padding: 4% 20px;
    border-radius: 15px;
  }
  .tobb{
    background-color: var(--orange);
    border:none;
    margin-top: 50px;
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.1vw;
    font-weight: 600;
    width: 8%;
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

.vege {
  background-color: lightgray;
    border:none;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.1vw;
    font-weight: 600;
    width: 8%;
    color: black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
